.header {
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    height: 100px;
  }

  &-link1 {
    margin-right: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #1c1917;
  }

  &-link {
    margin-right: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #8d8c8b;
  }

  &-a {
    width: 516px;
    height: 19px;
  }

  &-btn {
    border-radius: 8px;
    padding: 18px 36px;
    width: 186px;
    height: 55px;
    background: #ff8541;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  &-slt {
    border: 1px solid #555351;
    border-radius: 8px;
    padding: 18px;
    width: 83px;
    height: 55px;
    font-weight: 600;
    font-size: 16px;
    color: #555351;
    stroke-width: 1.25px;
    stroke: #555351;
  }
}
